/*
    CSS-Stylesheet for Dark-Theme

    Author: Maximilian Gräfe
*/

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #353945;
    -fx-tertiary : #424756;
    -fx-contrast : #808080;
    -fx-primarytext : #D5D1C8;
    -fx-focustext : #9BD9FD;
    -fx-error : #DF0101;
}

.grid-pane-root {
    -fx-background-color: -fx-primary;
}

.grid-pane-game{
    -fx-background-color: -fx-secondary;
}

.anchor-pane-game {
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-contrast;
}

.vBox-pane-game {
    -fx-background-color: -fx-secondary;
}

.brand-box {
    -fx-background-color: -fx-tertiary;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}

.tab-header-background {
    -fx-background-color: -fx-contrast;
    -fx-background-insets: 100%;
}

.tab {
    -fx-background-color: -fx-secondary;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: -fx-primary;
}

.tab-label {
    -fx-text-fill: -fx-primarytext;
    -fx-font-weight: BOLD;
}

.tab:selected .tab-label {
    -fx-text-fill: -fx-focustext;
}

.label {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 16px;
}

.label-score{
    -fx-font-size: 20px;
    -fx-font-weight: BOLD;
}

.label-error {
    -fx-text-fill: -fx-error;
}

.label-head {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 22px;
    -fx-font-weight: BOLD;
}

.label-not-ready {
    -fx-font-weight: BOLD;
    -fx-text-fill: #FF0000;
}

.label-ready {
    -fx-font-weight: BOLD;
    -fx-text-fill: #01DF01;
}

.text-field {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 16px;
    -fx-background-color: -fx-tertiary, -fx-primary;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.text-field-error {
    -fx-background-color: -fx-error, -fx-primary;
}

.text-field:focused {
    -fx-background-color: -fx-focustext, -fx-primary;
}

.text-area {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-primarytext;
}

.text-area .content {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 16px;
    -fx-background-color: -fx-tertiary, -fx-secondary;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-background-radius: 0;
}

.button:focused {
    -fx-background-color: -fx-focustext, -fx-secondary;
}

.button:pressed {
    -fx-background-color: -fx-focustext, -fx-primary;
}

.list-view{
    -fx-border-width: 0px;
    -fx-background-color: -fx-tertiary;
}

.list-view .list-cell:even {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: -fx-tertiary;
    -fx-text-fill: white;
}